
.yourname-register,
.yourname-login,
.yourname-reset-password,
.yourname-register-footer,
.yourname-login-footer {
    display: none;
}

div[data-active-tab="#yourname-reset-password"] .yourname-reset-password,
div[data-active-tab="#yourname-reset-password"] .yourname-login-footer,
div[data-active-tab="#yourname-login"] .yourname-login,
div[data-active-tab="#yourname-register"] .yourname-register,
div[data-active-tab="#yourname-register"] .yourname-login-footer,
div[data-active-tab="#yourname-login"] .yourname-register-footer {
    display: block;
}

.yourname-loading {
    display: none;
}

.form-field {
    margin: 20px 0;
    position: relative;
}
